<div class="jumbotron">
	<div class="row">
	  <div class="col-lg-3 text-center">
	    <%= image_tag "connector_logo.png", id: "connector-logo-image" %>
	   </div>
	  <div class="col-lg-9">
	  	<h1>Download the <b class="text-primary">Octopus Connector</b> for Mac OS X.</h1>
	  	<p>The Octopus Connector is a lightweight status bar application for Mac OS X that interfaces your biometrics hardware devices with the Octopus Platform.</p>
	  </div>
    </div>
 	<hr style="border-color: #ddd;"/>

 	<div class="">
 		<ul class="list-group">
 			<li class="list-group-item">
 				<a href="https://s3.amazonaws.com/erl-connector-downloads/OctopusConnector-0.2.5e8b5d2707803fe8913c5b7168cbcb2e25db3980.zip">Download the Octopus Connector for Mac OS X</a> &nbsp;
				<span class="call-to-action icon-chevron-right"></span>
 			</li>
 			<li class="list-group-item">
 				<%= link_to 'Getting started with the Octopus Platform', page_url('faq', :anchor => "getting-started") %> &nbsp;
      			<span class="call-to-action icon-chevron-right"></span>
 			</li>
 		</ul>
 	</div>
</div>