<div class="jumbotron">
	<div class="row">
	  <div class="col-lg-3 text-center">
	    <%= image_tag "connector_logo.png", class:"connector_logo_image top-buffer" %>
	   </div>
	  <div class="col-lg-9">
	  	<h1>Download the <b class="text-primary">Octopus Connector</b> for Mac OS X.</h1>
	  	<p>The Octopus Connector is a lightweight status bar application for Mac OS X that interfaces your biometrics hardware devices with the Octopus Platform.</p>
	  </div>
    </div>
 	<hr style="border-color: #ddd;"/>

</div>