<div class="btn-group navbar-btn">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"
      {{bindAttr class="model.isConnected:btn-success:btn-warning"}}>
    <i class="icon-cog"></i>&nbsp;Connector
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu pull-right">
    <li>
      {{#linkTo 'status.index'}}Status{{/linkTo}}
    </li>
    <li>
      {{#linkTo 'settings.index'}}Settings{{/linkTo}}
    </li>
  </ul>
</div>