<div class="pull-right">
  <div class="navbar-btn">
    {{#if model.isConnected}}
      {{#linkTo 'status.index' class="btn btn-action"}}
        <i class="icon-cog"></i>&nbsp;{{model.device_name}}
      {{/linkTo}}
    {{else}}
      {{#linkTo 'status.index' class="btn btn-warning"}}
        <i class="icon-cog"></i>&nbsp;Connector
      {{/linkTo}}
    {{/if}}
  </div>
</div>