<ul class="pagination">
  <li>{{#linkTo 'participants.page' previousPage}}&laquo;{{/linkTo}}</li>
  {{#each pages}}
    <li>
      {{#linkTo 'participants.page' pageNumber}}{{pageNumber}}{{/linkTo}}
    </li>
  {{/each}}
  <li>{{#linkTo 'participants.page' nextPage}}&raquo;{{/linkTo}}</li>
</ul>
