{{#if hasPages}}
  <ul class="pagination">
    <li {{bindAttr class="isFirstPage:disabled"}}>
      {{#linkTo pageRoute previousPage}}&laquo;{{/linkTo}}
    </li>

    {{#with pageRoute as withRoute}}
      {{#each pages}}
        <li {{bindAttr class="isCurrentPage:active"}}>
          {{#linkTo withRoute pageNumber}}{{pageNumber}}{{/linkTo}}
        </li>
      {{/each}}

    {{/with}}

    <li {{bindAttr class="isLastPage:disabled"}}>
      {{#linkTo pageRoute nextPage}}&raquo;{{/linkTo}}
    </li>
  </ul>
{{/if}}