<ul class="pagination">
  <li {{bindAttr class="isFirstPage:disabled"}}>
    {{#linkTo 'participants.page' previousPage}}&laquo;{{/linkTo}}
  </li>

  {{#each pages}}
    <li {{bindAttr class="isCurrentPage:active"}}>
      {{#linkTo 'participants.page' pageNumber}}{{pageNumber}}{{/linkTo}}
    </li>
  {{/each}}

  <li {{bindAttr class="isLastPage:disabled"}}>
    {{#linkTo 'participants.page' nextPage}}&raquo;{{/linkTo}}
  </li>
</ul>
