<div class="alert alert-error" style="overflow: auto;">
    <img src="<%= asset_path('connector_logo.png') %>" style="width:100px; margin-right: 12px; margin-top:12px;" class="pull-left top-buffer">
    <h1>Not seeing any data?</h1>
    <p>Download the Octopus Connector, a lightweight status bar application for Mac OS X that interfaces your hardware devices with the Octopus Platform.</p>
</div>