<div class="alert alert-warning">
    <strong>Not seeing any data?</strong>
    <p>
      Download the Octopus Connector, a lightweight status bar application for Mac OS X that interfaces your hardware devices with the Octopus Platform.
    </p>
    <hr/>
    <p>
      <button class="btn btn-info">
        <i class="icon-download"></i>&nbsp;Download Latest Connector
      </button>
      <small>Only 5.6 megabytes...</small>
    </p>
</div>