.clickable {
  cursor: hand;
}

.btn-table [class^="icon-"],
.btn-table [class*=" icon-"] {
  margin-top: -1px;
}

.btn-table {
  padding: 2px 6px;
  font-size: 10.5px;
  -webkit-border-radius: 2.5px;
     -moz-border-radius: 2.5px;
          border-radius: 2.5px;
}