html, body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

footer {
  margin-top: 20px;
  border-top: solid 1px #eee;
  padding: 10px 0;
  color: #c0c0c0;
}

footer p{
  padding-top: 2px;
}

.clickable {
  cursor: hand;
}

.btn-table [class^="icon-"],
.btn-table [class*=" icon-"] {
  margin-top: -1px;
}

.btn-table {
  padding: 2px 6px;
  font-size: 10.5px;
  -webkit-border-radius: 2.5px;
     -moz-border-radius: 2.5px;
          border-radius: 2.5px;
}

.btn-action {
  color: #ffffff;
  background-color: #5C60B8;
  border-color: #5C60B8;
}

.btn-action:hover,
.btn-action:focus,
.btn-action:active,
.btn-action.active {
  background-color: #4E529E;
  border-color: #4E529E;
  text-decoration: none;
  color: #ffffff;
}

.file-size {
  font-family: "Courier New";
}

.nav-action {
  margin-left: 10px;
}

.mixpanel-logo{
  margin-right: 10px;
}