<table class="table table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each controller}}
      {{#linkTo 'participant' this tagName='tr' class='clickable'}}
        <td>{{fullName}}</td>
        <td>{{email}}</td>
        <td>
          <div class="pull-right">
            <button class="btn btn-table btn-info" {{action select this bubbles=false}}>Select</button>
            <a href="#" class="btn btn-table btn-danger" {{action destroyParticipant this bubbles=false}}>Delete</a>
          </div>
        </td>
      {{/linkTo}}
    {{/each}}
  </tbody>
</table>