<div class="hero-unit">
  <p>
    <% if user_signed_in? && current_user.role == 'admin' %>
      <%= link_to 'Launch Octopus', octopus_index_url, class: 'btn btn-primary btn-large' %>
    <% else %>
      <i class="icon-rocket"></i> Coming soon...
    <% end %>
  </p>
</div>

<h3>Features</h3>

<div class="row">
  <div class="span6">
    <div class="feature-box">
      <h4><i class="icon-cloud"></i>&nbsp;Cloud Storage</h4>
      <p>
        Don't worry about storing and cataloguing your recordings, we'll
        do that for you. <a href="#">Learn more</a>
      </p>
    </div>
  </div>

  <div class="span6">
    <div class="feature-box">
      <h4><i class="icon-cloud-download"></i>&nbsp;Formats you use</h4>
      <p>
        Need your data in csv? No problem. We support a variety of
        download formats so you can continue to use the tools you already
        use. <a href="#">Learn more</a>
      </p>
    </div>
  </div>
</div>

<hr/>

