<div class="row">
	<div class="col-md-12 jumbotron">
		<div class="row">
			<div class="col-md-12">
				<h1>
					 Have questions or comments? Drop us a line.
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="list-group top-buffer">
				  <li class="list-group-item">
				  	<a href="mailto:brainiacs@octopusmetrics.com?subject=Contact Us">
				  		Ask us a question or get help
				  	</a>
				  	&nbsp;
 					<span class="call-to-action icon-chevron-right"></span>
				  </li>
				  <li class="list-group-item">
				  	<a href="https://twitter.com/OctopusMetrics" target="_blank">
				  		Follow <b>@OctopusMetrics</b> on Twitter
				  	</a>
				  	&nbsp;
 					<span class="call-to-action icon-chevron-right"></span>
				  </li>
				  <li class="list-group-item">
			  		<%= link_to 'Read our Frequently Asked Questions', page_url('faq') %>
			  		&nbsp;
						<span class="call-to-action icon-chevron-right"></span>
				  </li>
				</ul>

			</div>
		</div>
	</div>
</div>
