<div class="jumbotron">
  <h1>
    <span class="label btn-action">Frequently Asked Questions</span>
  </h1>
  <hr/>
  <div class="row">
    <div class="col-lg-4">
        <ul class="nav nav-list">
        <li class="active">
          <a href="#">Getting Started </a>
        </li>
        <li>
          <a href="#">Tutorials</a>
        </li>
        <li>
          <a href="#">Practice Editor</a>
        </li>
        <li>
          <a href="#">Gallery</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-8">
      hellos
    </div>
  </div>
</div>


<!-- <div class="row">
<div class="col-lg-4">
  <ul class="list-group">
    <li class="list-group-item">
      <a href="#platforms">Supported Platforms</a>
    </li>
    <li class="list-group-item">
      <a href="#devices">Supported Devices</a>
    </li>
    <li class="list-group-item">
      <a href="#connectors">Octopus Connector</a>
    </li>
    <li class="list-group-item">
      <a href="#setup">Setup</a>
    </li>
    <li class="list-group-item">
      <a href="#storage">Cloud and Local Storage</a>
    </li>
    <li class="list-group-item">
      π
      <a href="#about">About</a>
    </li>
  </ul>
</div>
<div class="col-lg-8">
  <a name="access"></a>
  <h1>Access</h1>
  <h3>How do I get access to Octopus?</h3>
  <p>
    If you would like to participate in the Octopus Beta, please
    <a href="/contactus">contact us</a>
    .
  </p>
  <br/>
  <hr/>
  <br/>
  <a name="platforms"></a>
  <h1>Supported Platforms</h1>
  <h3>What platforms does Octopus support?</h3>
  <p>
    You can access Octopus from any modern browser on any platform through
    <a href="http://octopusmetrics.com">http://octopusmetrics.com</a>
    . To interface hardware devices and create recordings, you will need to install the
    <a href="#connector">Octopus Connector</a>
    , which is currently available for
    <a href="/connectors">Mac OS X</a>
    .
  </p>
  <h3>Can I use Octopus with Windows or Linux?</h3>
  <p>
    We currently support Windows and Linux using a command line interface for the
    <a href="#connector">Octopus Connector</a>
    . Your machine will also need to have a Bluetooth interface. If you would like to use Octopus from a Windows or Linux machine,
    <a href="/contactus">let us know</a>
    .
  </p>
  <br/>
  <hr/>
  <br/>
  <h1>Supported Devices</h1>
  <a name="devices"></a>
  <h3>What devices does Octopus support?</h3>
  <p>
    Octopus currently supports the
    <a href="http://avatareeg.com">Avatar EEG</a>
    and ThinkGear protocol for
    <a href="http://neurosky.com/">NeuroSky</a>
    devices.
  </p>
  <br/>
  <hr/>
  <br/>
  <a name="connectors"></a>
  <h3>What is the Octopus Connector?</h3>
  <p>
    The Octopus Connector is a lightweight application that interfaces your local computer with the Octopus website. Once your Connector is running, then Octopus will automatically recognize
  </p>
  <code>test</code>
  <h3/>

  <a name="storage"></a>
  <h3></h3>
  <p></p>

</div>
</div>
-->