<div class="jumbotron">
  <h1>
    <span class="label btn-action">Frequently Asked Questions</span>
  </h1>
  <hr/>
  <div class="row">
    <div class="col-lg-3">
        <ul class="nav nav-list">
        <li class="active">
          <a href="#getting-started">Getting Started </a>
        </li>
        <li>
          <a href="#platforms">Supported Platforms and Devices</a>
        </li>
        <li>
          <a href="#storage">Cloud and Local Storage</a>
        </li>
        <li>
          <a href="#contact-us">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-9">
      <ul class="list-group">
        <li class="list-group-item">
          <a name="getting-started"></a>
          <h2>Getting Started</h2>
        </li>
        <li class="list-group-item">
          <a name="getting-started"></a>
          <h3>How do I get access to the site?</h3>
          <p>
          If you would like to become a <%= link_to 'beta tester', page_url('beta') %>, we will create an account for you. Go ahead and
          <a href="mailto:brainiacs@octopusmetrics.com">
            <span class="label btn-action">
              Request Access
            </span>
          </a>.
          </p>

        </li>
        <li class="list-group-item">
          <a name="platforms"></a>
          <h2>Supported Platforms and Devices</h2>
        </li>
        <li class="list-group-item">
          <h3>What platforms does Octopus support?</h3>
          <p>
            You can access Octopus from any modern browser on any platform through <a href="http://octopusmetrics.com">http://octopusmetrics.com</a>. To interface hardware devices and create recordings, you will need to install the <a href="#connector">Octopus Connector</a>, which is currently available for <a href="/connectors">Mac OS X</a>.
          </p>
          <h3>Can I use Octopus with Windows or Linux?</h3>
          <p>
            We currently support Windows and Linux using a command line interface for the <a href="#connector">Octopus Connector</a>. Your machine will also need to have a Bluetooth interface. If you would like to use Octopus from a Windows or Linux machine, <a href="/contactus">let us know</a>.
          </p>
            <h3>What devices does Octopus support?</h3>
          <p>
            Octopus currently supports the <a href="http://avatareeg.com">Avatar EEG</a> and ThinkGear protocol for <a href="http://neurosky.com/">NeuroSky</a> devices.
          </p>
        </li>
        <li class="list-group-item">
          <a name="storage"></a>
          <h2>Cloud and Local Storage</h2>
        </li>
        <li class="list-group-item">
          Under construction.
        </li>
        <li class="list-group-item">
          <a name="contact-us"></a>
          <h2>Contact Us</h2>
        </li>
        <li class="list-group-item">
          <h3>I have questions about Octopus. Who do I contact?</h3>
          <p>
            If you have any questions about Octopus, please <%= link_to 'Contact Us', page_url('contact_us') %>.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>