<div class="page-header">
  <h1>Frequently Asked Questions</h1>
</div>

<div class="row">
  <div class="col-lg-4">
    <ul class="list-group">
      <li class="list-group-item">
        <a href="#platforms">Supported Platforms</a>
      </li>
      <li class="list-group-item">
        <a href="#devices">Supported Devices</a>
      </li>
      <li class="list-group-item">
        <a href="#connectors">Octopus Connector</a>
      </li>
      <li class="list-group-item">
        <a href="#storage">Cloud and Local Storage</a>
      </li>
      <li class="list-group-item">
        <a href="#about">About</a>
      </li>
    </ul>
  </div>
  <div class="col-lg-8">
    <a name="platforms"></a>
    <h3>What platforms does Octopus support?</h3>
    <p>
      You can access Octopus from any modern browser on any platform. To create recordings, you will need to install the <a href="">Octopus Connector</a>, which is currently supported on Mac OS X. If you need to run the Connector on Windows, <a href="">contact us</a>.
    </p>

    <hr/>

    <a name="devices"></a>
    <h3>What devices does Octopus support?</h3>
      Octopus currently supports the Avatar EEG and ThinkGear protocol for <a href="http://neurosky.com/">NeuroSky</a> devices.
    <hr/>

    <a name="connectors"></a>
    <h3>What is the Octopus Connector?</h3>
    <p>
      Information about connectors!
    </p>

    <h3/>

    <a name="storage"></a>
    <h3></h3>
    <p>
    </p>

  </div>
</div>