<div class="page-header">
  <div class="pull-right">
    {{#linkTo theories.new class="btn btn-success"}}
      <i class="icon-plus"></i> New Theory
    {{/linkTo}}
  </div>

  <h2>Theories</h2>
</div>

There are {{controller.length}} theories