<div class="row">
  <div class="col-lg-4 text-center">
    <%= image_tag "connector_logo.png", class:"connector_logo_image" %>
   </div>
  <div class="col-lg-4">
  	<h2>Download the <a href="">Octopus Connector</a> for Mac OS X.</h2>
  </div>
</div>