<div class="row">
  <div class="col-lg-3 text-center">
    <%= image_tag "connector_logo.png", class:"connector_logo_image" %>
   </div>
  <div class="col-lg-6">
  	<h1>Download the <a href="">Octopus Connector</a> for Mac OS X.</h1>
  	<p>The Octopus Connector is a lightweight status bar application for Mac OS X that interfaces your hardware with the Octopus website.</p>
  </div>
</div>