<div class="row">
  <div class="col-lg-4 text-center">
    <%= image_tag "avatareeg.jpg", class:"avatareeg_image" %>
   </div>
  <div class="col-lg-4">
  </div>
  <div class="col-lg-4 text-center">
    <%= image_tag "recordings.png", class:"recordings_image" %>
  </div>
</div>