/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require ../vendor/bootstrap.css
 *= require ../vendor/datepicker.css
 *= require ../vendor/nprogress.css
 *= require_tree ../shared
 *= require ../shared/navigation.css
 *= require font-awesome
 *= require_self
 *= require_tree ./graphs
 */

#hero {
	margin-top: 100px;
	background-color: lightblue;
}

.graph-container {
  border-radius: 5px;
  background-color: #eee;
  padding: 10px;
}

.graph-container p {
  padding: 80px;
  text-align: center;
}

.label {
	vertical-align: middle;
}

.flash {
  margin-top: 10px;
}

.upload-progress {
  margin-bottom: 0;
}

.file-target{
  border: dashed 2px #c0c0c0;
  border-radius: 5px;
  padding: 10px;
}

.droppable-indicator{
  color: #468847;
  background-color: #dff0d8;
  border: dashed 2px #d6e9c6;
}

.clickable {
  cursor: hand;
  cursor: pointer;
}

.textarea-modal-full {
  width: 515px;
}


table.table-list tbody tr.waiting_for_data {
  border-left: solid 3px orange;
}

table.table-list tbody tr.waiting_for_data:hover {
  border-left: solid 3px orange;
}