<div class="page-header">
  <h3>Start Experiment <small>{{name}}</small></h3>
</div>

<form class="form-horizontal">
  <fieldset>
    <legend>Subject</legend>
  </fieldset>

  <div class="control-group">
    <label class="control-label">First Name</label>
    <div class="controls">
     {{input value=model.experiment.firstname type=text}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Last Name</label>
    <div class="controls">
     {{input value=model.experiment.firstname type=text}}
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary" {{action save}}>Calibrate</button>
  </div>
</form>