<div class="row">
  <div class="col-lg-8">
    <ul class="breadcrumb">
      <li>{{#linkTo 'recordings.index'}}Recordings{{/linkTo}}</li>
      <li>{{#linkTo 'recordings.local'}}Local{{/linkTo}}</li>
      <li class="active">{{id}}</li>
    </ul>
  </div>
  <div class="col-lg-4">
    <div class="pull-right">
      <button class="btn btn-info" {{action upload}}>
        <i class="icon-cloud-upload"></i>&nbsp;Upload to Cloud
      </button>

      <button class="btn btn-info" {{action exportAsCsv}}>
        <i class="icon-download-alt"></i>&nbsp;Export CSV
      </button>
    </div>
  </div>
</div>

{{#if recordingData.isLoaded}}
  {{view App.ResultDataGraphView resultDataBinding=recordingData}}
{{/if}}
