<div class="page-header">
  <div class="pull-right">
    <div class="btn-group">
      <a class="btn btn-success dropdown-toggle" data-toggle="dropdown">
        New Media
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>{{#linkTo 'videos.new'}}Upload Video{{/linkTo}}</li>
      </ul>
    </div>
  </div>
  <h3>Media</h3>
</div>