<div class="navbar navbar-static-top">
  <div class="container">
    <div class="navbar-inner">
      {{#linkTo 'index' class='navbar-brand'}}
        Octopus
      {{/linkTo}}

      {{render 'navigation'}}
    </div>
  </div>
</div>

<div class="container">
  {{#unless currentUser.isSignedIn}}
    <div class="flash">
      <div class="alert alert-error">
        You must be <a href="#" {{action goToSignIn}}>signed in</a> to use octopus.
      </div>
    </div>
  {{else}}
    {{outlet}}
  {{/unless}}

  {{#if currentUser.isSignedIn}}
    <footer>
      Copyright &copy; East River Labs 2013<br/>
      AvatarEEG is a registered trademark of Avatar EEG Solutions, Inc.
    </footer>
  {{/if}}
</div>
