<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    {{#linkTo 'index' class='brand'}}Octopus{{/linkTo}}
    <ul class="nav">
      {{#linkTo 'experiments.index' tagName='li'}}
        {{#linkTo 'experiments.index'}}Experiments{{/linkTo}}
      {{/linkTo}}

      {{#linkTo 'settings.index' tagName='li'}}
        {{#linkTo 'settings.index'}}Settings{{/linkTo}}
      {{/linkTo}}
    </ul>
  </div>
</div>

<div class="container">
  {{outlet}}
</div>