{{#if model.isLoaded}}
  <div class="btn-group navbar-btn">
    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon-user"></i> {{fullName}}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="#" {{action clear}}>Clear</a>
      </li>
    </ul>
  </div>
{{/if}}