<div class="jumbotron">
	<h1>Welcome to <span class="text-primary">Octopus</span>.</h1>
	<br/>
	<div class="row">
		<div class="col-md-12">
			<ul class="list-group top-buffer">
			  <li class="list-group-item">
			  	{{#linkTo 'recordings'}}Create a recording{{/linkTo}}
			  	&nbsp;
				<span class="call-to-action icon-chevron-right"></span>
			  </li>
			  <li class="list-group-item">
		  		{{#linkTo 'participants'}}Create a participant{{/linkTo}}
		  		&nbsp;
					<span class="call-to-action icon-chevron-right"></span>
			  </li>
			</ul>
		</div>
	</div>
</div>