<div class="page-header">
  <ul class="breadcrumb">
    <li>{{#linkTo 'videos.index'}}Videos{{/linkTo}} <span class="divider">/</span></li>
    <li class="active">{{name}}</li>
  </ul>
</div>

{{view App.VideoPlayerView src='/videos/dizzy.mp4'}}