/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require vendor/bootstrap.css
 *= require font-awesome
 *= require_self
 */

path.line {
  stroke: steelblue;
  stroke-width: 1;
  fill: none;
}

path.channel-0 {
  stroke: black;
}

path.channel-1 {
  stroke: black;
}

path.channel-2 {
  stroke: black;
}

path.channel-3 {
  stroke: black;
}

path.channel-4 {
  stroke: black;
}

path.channel-5 {
  stroke: black;
}

path.channel-6 {
  stroke: black;
}

path.channel-7 {
  stroke: black;
}

.y-axis line,
.y-axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.y-axis text{
  font-size: 7pt;
}

#hero {
	margin-top: 100px;
	background-color: lightblue;
}

.graph-streaming {
  background-color: lightsalmon;
}

.label {
	vertical-align: middle;
}

i.icon-inverse {
  font-color: white;
}

.flash{
  margin-top: 10px;
}

.upload-progress{
  margin-bottom: 0;
}

footer{
  border-top: solid 1px #eee;
  padding: 10px;
  color: #c0c0c0;
}