<div class="input-group date" data-date="1980-01-01" data-date-format="yyyy-dd-mm">
  <input class="form-control datepickable" size="16" type="text">
  <span class="input-group-addon"><i class="icon-calendar"></i></span>
</div>