<div class="input-append date datepickable" data-date="1980-01-01" data-date-format="yyyy-dd-mm">
  <input class="span2" size="16" type="text">
  <span class="add-on"><i class="icon-calendar"></i></span>
</div>