<div class="row">
  <div class="col-md-9">
    <ul class="nav nav-pills">
      {{#linkTo 'recordings.cloud' tagName='li'}}
        {{#linkTo 'recordings.cloud'}}
          <i class="icon-cloud"></i>&nbsp;Cloud
        {{/linkTo}}
      {{/linkTo}}

      {{#linkTo 'recordings.local' tagName='li'}}
        {{#linkTo 'recordings.local'}}
          <i class="icon-desktop"></i>&nbsp;Local
        {{/linkTo}}
      {{/linkTo}}
  </ul>

  </div>

  <div class="col-md-3">
    <div class="pull-right">
      {{#if canRecord}}
        {{#linkTo newRecordingRoute class='btn btn-success'}}
          <i class="icon-plus"></i>&nbsp;New Recording
        {{/linkTo}}
      {{else}}
        <a class="btn btn-default" rel="tooltip" title="Run your Octopus Connector to stream data.">
          <i class="icon-ban-circle"></i>&nbsp;New Recording
        </a>
      {{/if}}
    </div>
  </div>
</div>

<hr/>