<div class="row">
  <div class="col-lg-9">
    <ul class="nav nav-tabs">
      {{#linkTo 'recordings.cloud' tagName='li'}}
        {{#linkTo 'recordings.cloud'}}<i class="icon-cloud"></i>&nbsp;Cloud{{/linkTo}}
      {{/linkTo}}

      {{#linkTo 'recordings.local' tagName='li'}}
        {{#linkTo 'recordings.local'}}Local{{/linkTo}}
      {{/linkTo}}
  </ul>

  </div>

  <div class="col-lg-3">
    <div class="pull-right">
      {{#if canRecord}}
        {{#linkTo 'recordings.new' class='btn btn-success'}}New Recording{{/linkTo}}
      {{else}}
        <button id="cant-record" class="btn" disabled="disabled" title="You cannot record, unless the collector is running.">
          <i class="icon-ban-circle"></i>&nbsp;New Recording
        </button>
      {{/if}}
    </div>
  </div>
</div>

<hr/>