<div class="page-header">
  <div class="pull-right">
    {{#linkTo 'recordings.new' class='btn btn-success'}}New Recording{{/linkTo}}
  </div>
  <h2>Recordings</h2>
</div>

{{#unless controller.length}}
    <div class="alert alert-info">
      There are no recordings.
    </div>
{{else}}
  {{controller.length}}
{{/unless}}