<div class="page-header">
  <div class="pull-right">
    {{#linkTo 'recordings.new' class='btn btn-success'}}New Recording{{/linkTo}}
  </div>
  <h3>Recordings</h3>
</div>

{{#unless controller.length}}
    <div class="alert alert-info">
      There are no recordings.
    </div>
{{else}}
  There are {{controller.length}} recordings

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Created At</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      {{#each controller}}
        <tr>
          <td>{{timeSince created_at}}</td>
          <td>
            {{#if state}}
              <div class="progress progress-striped active">
                <div class="bar bar-success" style="width: 100%">
                  <i class="icon-upload"></i> uploading
                </div>
              </div>
            {{/if}}
          </td>
          <td>
            <div class="pull-right">
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/unless}}