<div class="page-header">
  <div class="pull-right">
    {{#linkTo 'recordings.new' class='btn btn-info'}}New Recording{{/linkTo}}
  </div>
  <h2>Recordings</h2>
</div>
<div class="hero-unit text-center">
	<p>
		Create an ad-hoc EEG recording.
	</p>
</div>