<div class="page-header">
  <div class="pull-right">
    {{#linkTo 'videos.new' class="btn btn-success"}}Upload Video{{/linkTo}}
  </div>
  <h3>Videos</h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Name</td>
      <td>Created At</td>
    </tr>
  </thead>
  <tbody>
    {{#each controller}}
      <tr>
        <td>{{#linkTo 'video' this}}{{name}}{{/linkTo}}</td>
        <td>{{timeSince createdAt}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>