<div class="page-header">
  <h3>New Video</h3>
</div>

<form class="form-horizontal">
  <fieldset>
    <legend>New Video</legend>
  </fieldset>

  <div class="control-group">
    <label class="control-label">Name</label>
    <div class="controls">
     {{input value=model.name type=text}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Description</label>
    <div class="controls">
     {{view Ember.TextArea valueBinding=model.description}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">File</label>
    <div class="controls">
      {{#view App.FileUpload valueBinding=model.attachment}}
        Drag video here
      {{/view}}
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary" {{action save}}>Create Video</button>
  </div>
</form>