<div class="page-header">
  <div class="pull-right">
    {{#linkTo experiments.new class="btn btn-success"}}
      <i class="icon-plus"></i> New Experiment
    {{/linkTo}}
  </div>
  <h3>Experiments</h3>
</div>

There are {{controller.length}} experiments

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    {{#each controller}}
      <tr>
        <td>{{#linkTo 'experiment' this}}{{name}}{{/linkTo}}</td>
        <td>{{timeSince created_at}}</td>
        <td>
          <div class="pull-right">
            {{#linkTo 'trial.start' this class="btn btn-mini btn-success"}}Start Trial{{/linkTo}}
            <button class="btn btn-mini btn-danger" {{action destroy this}}>Delete</button>
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>