<h1>Tagging</h1>

<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="...">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Tag Things</h4>
    <p>
      This is awesome
    </p>
  </div>
</div>