#faq-menu {
	line-height: 1.3em;
}

#menu-avatar-faq {
	width: 60%;
}

.faq-header {
	background-color: #46b8da;
	border: 1px solid #46b8da;
	color: #fff;
}

.faq-header h2 {
	margin-top: 10px;
	font-weight: 200;
}